.header-container{
    display: flex;
    justify-content: space-around;
    background-color: gray;
}
.link a{
    text-decoration: none;
    margin-right: 20px;
    color: white;
    
}
.link a:hover{
    color: orange;
}